<app-menu></app-menu>
<div class="container" *ngIf="kardex">
  <div class="row mt-5">
    <div class="col-md-4 mx-auto">

      <form (ngSubmit)="onUpdate()" novalidate #f="ngForm">
        <!--
        <div class="form-group">
          <label for="idProducto">Id producto</label>
          <input
            type="number"
            class="form-control"
            id="idProducto"
            name="idProducto"
            [(ngModel)]="product.idProducto"
            readonly
            required
          />
        </div>

        <div class="form-group">
          <label for="nombre">Nombre</label>
          <input
            type="text"
            class="form-control"
            id="nombre"
            name="nombre"
            [(ngModel)]="product.nombreProducto"
            required
          />
        </div>

        <div class="form-group">
          <label for="precio">Precio</label>
          <input
            type="number"
            class="form-control"
            id="precio"
            name="precio"
            [(ngModel)]="product.precioUnitario"
            required
          />
        </div>

        <div class="form-group">
          <label for="nitProducto">nitProducto</label>
          <input
            type="text"
            class="form-control"
            id="nitProducto"
            name="nitProducto"
            [(ngModel)]="product.nitProducto"
            required
          />
        </div>

        <div class="form-group">
          <label for="proveedor">Proveedor del producto</label>
          <input
            type="text"
            class="form-control"
            id="provedor"
            name="proveedor"
            [(ngModel)]="product.proveedor"
            required
          />
        </div>-->

        <br/>
        
        <button class="btn btn-outline-success btn-block" [disabled]="!f.valid">
          <i class="fas fa-pencil-alt"></i> Actualizar
        </button>
        <button class="btn btn-outline-primary btn-block" routerLink="/product/inquire">
          <i class="fas fa-arrow-alt-circle-left"></i> Volver
        </button>
        
      </form>
    </div>
  </div>
</div>
